<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>차량 예약</title>
<th:block th:replace="fragments/config :: configFragment"></th:block>

<!-- 사용자 css 추가 -->
<th:block layout:fragment="css">
<link th:href='@{/fullcalendar/packages/core/main.css}' rel='stylesheet' />
<link th:href='@{/fullcalendar/packages/daygrid/main.css}' rel='stylesheet' />
<link th:href='@{/fullcalendar/packages/timegrid/main.css}' rel='stylesheet' />
<link th:href='@{/fullcalendar/packages/list/main.css}' rel='stylesheet' />
<link th:href="@{/rome/dist/rome.css}" rel="stylesheet">
</th:block>

<!-- 사용자 script 추가 -->
<th:block layout:fragment="script">
<script th:src='@{/fullcalendar/packages/core/main.js}'></script>
<script th:src='@{/fullcalendar/packages/interaction/main.js}'></script>
<script th:src='@{/fullcalendar/packages/daygrid/main.js}'></script>
<script th:src='@{/fullcalendar/packages/timegrid/main.js}'></script>
<script th:src='@{/fullcalendar/packages/list/main.js}'></script>
<script th:src="@{/rome/dist/rome.js}"></script>
</th:block>

<script>
document.addEventListener('DOMContentLoaded', function() {
	var modal = document.getElementById('myModal');
	
	var calendarEl = document.getElementById('calendar');
	  
	var calendar = new FullCalendar.Calendar(calendarEl, {
		plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
	  	header: {
      		left: 'prev,next today',
      		center: 'title',
     		right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
      	},
     	defaultDate: new Date(),
      	locale: 'ko',
      	navLinks: true, // can click day/week names to navigate views
      	businessHours: true, // display business hours
      	editable: false,
      	selectable: true,
        select: function() {
        	modal.style.display = "block";
            calendar.unselect()
        },
    });
	$.ajax({
		type: "post",
		url: "/user/selectCarReservationListAjax",
		data: {},
		dataType: "json",
		success:function(carReservation){
			for(var i=0 in carReservation){
				if(carReservation[i].car.carNo==1) var color = "#000000";
				if(carReservation[i].car.carNo==2) var color = "#ff0000";
				if(carReservation[i].car.carNo==3) var color = "#00ff00";
				if(carReservation[i].car.carNo==4) var color = "#0000ff";
				calendar.addEvent({
	            	title: carReservation[i].car.carName+" "+carReservation[i].member.memName,
	                start: carReservation[i].carResStart+":00",
	                end: carReservation[i].carResEnd+":00",
	                color: color
	            });
			}
		}
	});
    calendar.render();
    
    document.getElementsByClassName("close")[0].onclick = function() {
    	modal.style.display = "none";
	}
	$(window).on("click",function(event){
    	if (event.target == modal) {
        	modal.style.display = "none";
    	}
	});
});
</script>
<style>
#calendar {
	max-width: 900px;
	margin: 0 auto;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */                          
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
</style>
<script>
$(function(){
	var moment = rome.moment;
	var today = moment().format();

	var startDate = rome(startDateElem, {dateValidator : rome.val.afterEq(today)});
	var endDate =rome(endDateElem, {dateValidator:function(d){
	  var m = moment(d);
	  var startD=rome(startDateElem).getDate();
	  if(startD){     
	    return m.isAfter(today)&& m.isAfter(startD);
	  }else{
	    return m.isAfter(today)
	  }   
	 }
	});
});
</script>
<script>
$(function(){
	$("#departureMapBtn").click(function(){
		var areaSelection = $(this).siblings().val();
			window.open("/user/departureMap?areaSelection="+areaSelection,"map","width=1500,height=518");
	});
	$("#arrivalMapBtn").click(function(){
		var areaSelection = $(this).siblings().val();
			window.open("/user/arrivalMap?areaSelection="+areaSelection,"map","width=1500,height=518");
	});
});
</script>
<script>
$(function(){
	$("#carReservationBtn").click(function(){
		var carNo = $("#carNo").val();
		var startDateElem = $("#startDateElem").val();
		var endDateElem = $("#endDateElem").val();
		var departure = $("#departure").val();
		var arrival = $("#arrival").val();
		if(!startDateElem || !endDateElem || !departure || !arrival){
			alert("빈 칸 없이 입력해주세요.");
		}else{
			$.ajax({
				url:"/user/insertCarReservation",
				data:{
					carNo : carNo,
					carResStart : startDateElem,
					carResEnd : endDateElem,
					carDeparture : departure,
					carArrival : arrival
				},
				success:function(result){
					if(result=="날짜를 잘못 입력하였습니다. 다시 입력하세요."){
						alert("날짜를 잘못 입력하였습니다. 다시 입력하세요.");
					}else if(result=="success"){
						var carApproval = confirm("법인차량 사용신청서를 작성하시겠습니까?");
						if(carApproval){
							location.href="/user/insertApprovalView?apdocNo=10";
						}else{
							location.href="/user/selectCarReservationList";
						}
					}
				}
			});
		}
	});
});
</script>
</head>
<body>

<div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="fragments/headerAdmin :: headerFragmentAdmin"></div>
<div sec:authorize="hasAnyRole('ROLE_USER','ROLE_PL','ROLE_PM')" th:replace="fragments/header :: headerFragment"></div>

<!-- //무조건 section 안에서 내용 작성 -->
<div layout:fragment="content" class="section">
<div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="fragments/asideAdmin :: asideFragmentAdmin"></div>
<div sec:authorize="hasAnyRole('ROLE_USER','ROLE_PL','ROLE_PM')" th:replace="fragments/aside :: asideFragment"></div>
<div class="section_inner">
	<h2 sec:authorize="hasRole('ROLE_ADMIN')">법인차량 예약 (관리자)</h2>
	<h2 sec:authorize="hasAnyRole('ROLE_USER','ROLE_PL','ROLE_PM')">법인차량 예약</h2>
	<div id="myModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>                                                               
	    	<form action="/user/insertCarReservation">
		    	<h2>법인차량 예약</h2>
				<div class="article">
					<div class="table_wrap view">
						<table>
							<colgroup>
								<col width="120px">
								<col width="*">
								<col width="120px">
								<col width="*">
							</colgroup>
							<tbody>
					    		<tr>
					    			<th>차량 선택</th>
					    			<td colspan="3">
					    				<select name="carNo" id="carNo">
											<th:block th:each="car:${carList}">
												<option th:value="${car.carNo}" th:text="${car.carName}"></option>
											</th:block>
										</select>
					    			</td>
					    		</tr>
					    		<tr>
					    			<th>사용 시작</th>
					    			<td><input type="text" id="startDateElem" name="carResStart" class="form-control" autocomplete="off"></td>
					    			<th>사용 종료</th>
					    			<td><input type="text" id="endDateElem" name="carResEnd" class="form-control" autocomplete="off"></td>
					    		</tr>
					    		<tr>
					    			<th>출발지</th>
					    			<td><input type="text" id="departure" name="carDeparture">
					    				<input type="button" id="departureMapBtn" class="btn btn_point" value="지도 검색">
					    			</td>
					    			<th>도착지</th>
					    			<td><input type="text" id="arrival" name="carArrival">
					    				<input type="button" id="arrivalMapBtn" class="btn btn_point" value="지도 검색">
					    			</td>
					    		</tr>
					    	</tbody>	
		    			</table>
		    			<div class="btn_wrap">
							<div class="box_right">
								<input type="button" id="carReservationBtn" class="btn btn_point" value="예약">
		    				</div>
		    			</div>
		    		</div>
		    	</div>
			</form>
			<h2>법인차량 예약 취소</h2>
			<div class="article">
				<div class="table_wrap list">
					<table>
						<colgroup>
							<col width="50px">
							<col width="80px">
							<col width="80px">
							<col width="80px">
							<col width="80px">
							<col width="80px">
							<col width="80px">
						</colgroup>
						<thead>
							<tr>
								<th>차량명</th>
								<th>사용 시작</th>
								<th>사용 종료</th>
								<th>출발지</th>
								<th>도착지</th>
								<th>예약한 날짜</th>
								<th>취소</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="carReservation:${carReservationList}">
								<td th:text="${carReservation.car.carName}"></td>
								<td th:text="${carReservation.carResStart}"></td>
								<td th:text="${carReservation.carResEnd}"></td>
								<td th:text="${carReservation.carDeparture}"></td>
								<td th:text="${carReservation.carArrival}"></td>
								<td th:text="${#dates.format(carReservation.carResDate,'yyyy-MM-dd HH:mm')}"></td>
								<td><a th:href="@{/user/deleteCarReservation(carResNo=${carReservation.carResNo})}" class="btn btn_point">취소</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id='calendar'></div>
</div><!-- //section_inner end -->
</div><!-- //section end -->
</body>
</html>