<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>마이페이지</title>
<th:block th:replace="fragments/config :: configFragment"></th:block>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script>
	function sample6_execDaumPostcode() {
		new daum.Postcode({
			oncomplete : function(data) {
				// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

				// 각 주소의 노출 규칙에 따라 주소를 조합한다.
				// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
				var addr = ''; // 주소 변수
				var extraAddr = ''; // 참고항목 변수

				//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
				if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
					addr = data.roadAddress;
				} else { // 사용자가 지번 주소를 선택했을 경우(J)
					addr = data.jibunAddress;
				}

				// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
				if (data.userSelectedType === 'R') {
					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
						extraAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if (data.buildingName !== '' && data.apartment === 'Y') {
						extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					if (extraAddr !== '') {
						extraAddr = ' (' + extraAddr + ')';
					}
					// 조합된 참고항목을 해당 필드에 넣는다.
					document.getElementById("sample6_extraAddress").value = extraAddr;
				} else {
					document.getElementById("sample6_extraAddress").value = '';
				}

				// 우편번호와 주소 정보를 해당 필드에 넣는다.
				document.getElementById('sample6_postcode').value = data.zonecode;
				document.getElementById("sample6_address").value = addr;
				// 커서를 상세주소 필드로 이동한다.
				document.getElementById("sample6_detailAddress").focus();
			}
		}).open();
	}
</script>
<script>
	function updateMember() {
		var updateMember = document.memberForm;
		
		updateMember.action="/user/updateMyInfo"
		updateMember.method="post"
		updateMember.submit();
	}
</script>
</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>


<!-- //무조건 section 안에서 내용 작성 -->
<div layout:fragment="content" class="section">
<div th:replace="fragments/aside :: asideFragment"></div>
<div class="section_inner">
	<h2>내 정보</h2>
	<div class="article">
	<form name="memberForm">
		<div class="table_wrap view">
			<input name="memId" type="hidden" th:value="${member.memId}">
			<table>
				<colgroup>
					<col width="150px">
					<col width="*">
				</colgroup>
				<tbody>
					<tr>
						<th>사원번호</th>
						<td th:text="${member.memId}"></td>
					</tr>
					<tr>
						<th>이름</th>
						<td th:text="${member.memName}"></td>
					</tr>
					<tr>
						<th>부서</th>
						<td th:text="${member.department?.deptName}"></td>
					</tr>
					<tr>
						<th>팀</th>
						<td th:text="${member.team?.teamName}"></td>
					</tr>
					<tr>
						<th>직급</th>
						<td th:text="${member.ranks.ranks}"></td>
					</tr>
					<tr>
						<th th:text="입사일"></th>
						<td th:text="${member.memJoinDate}"></td>
					</tr>
					<tr>
						<th th:text="사내전화번호"></th>
						<td><input name="memOfficeTel" type="text" th:value="${member.memOfficeTel}"></td>
					</tr>
					<tr>
						<th th:text="휴대전화번호"></th>
						<td><input name="memTel" type="text" th:value="${member.memTel}"></td>
					</tr>
					<tr>
						<th th:text="주소"></th>
						<td class="daumAddr">
							<input name="memAddrCode" type="text" id="sample6_postcode" placeholder="우편번호" th:value="${member.memAddrCode}" readonly>
							<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
							<p>
								<input name="memAddr" type="text" id="sample6_address" placeholder="주소" th:value="${member.memAddr}" readonly>
								<input name="memAddrDetail" type="text" id="sample6_detailAddress" placeholder="상세주소" th:value="${member.memAddrDetail}">
								<input name="memAddrExtra" type="text" id="sample6_extraAddress" placeholder="참고항목" th:value="${member.memAddrExtra}" readonly>
							</p>
						</td>
						
					</tr>
				</tbody>
			</table>
			<div class="btn_wrap">
				<div class="box_right">
					<a class="btn btn_point" th:onclick="javascript:updateMember()">수정</a>
				</div>
			</div>
		</div><!-- //table_wrap -->	
	</form>
	</div>
</div><!-- //section_inner end -->
</div><!-- //section end -->
</body>
</html>