<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>조직도</title>
<th:block th:replace="fragments/config :: configFragment"></th:block>
<script>
$(function(){
	
	var modal = document.getElementById('myModal');
	
    document.getElementsByClassName("close")[0].onclick = function() {
    	modal.style.display = "none";
	}
    
	window.onclick = function(event) {
    	if (event.target == modal) {
        	modal.style.display = "none";
    	}
	}	

	$(".showProjectByMember").click(function(){
		var memId = $(this).next().val();
		$.ajax({
			url:"/user/selectProjectListForOrganizationChartByMemIdWithZero",
			data:{
				memId:memId
			},
			dataType:'json',
			success:function(projectListWithZero){
				var str="";
				if(projectListWithZero.length!=0){
					str += "<table><colgroup><col width='*'><col width='80px'><col width='110px'><col width='110px'><col width='100px'></colgroup><tr><thead><tr><th>프로젝트명</th><th>PM</th><th>시작일</th><th>종료일</th><th>마더업체</th></tr></thead>";
					for (var i in projectListWithZero){
						str += "<tbody><tr><td><a href='/user/projectDetail?prjCode="+projectListWithZero[i].prjCode+"'>"+projectListWithZero[i].prjName+"</a></td>";
						str += "<td>"+projectListWithZero[i].prjPm+"</td>";
						str += "<td>"+projectListWithZero[i].prjStart+"</td>";
						str += "<td>"+projectListWithZero[i].prjEnd+"</td>";
						str += "<td>"+projectListWithZero[i].prjMothercompany+"</td></tr></tbody>";
					}
					str += "</table>";
				}else{
					str += "<p>현재 진행 중인 프로젝트가 없습니다.</p>";
				}
				$("#projectListByMemIdWithZero table").remove();
				$("#projectListByMemIdWithZero").append(str);
			}
		});
		$.ajax({
			url:"/user/selectProjectListForOrganizationChartByMemIdWithOne",
			data:{
				memId:memId
			},
			dataType:'json',
			success:function(projectListWithOne){
				var str="";
				if(projectListWithOne.length!=0){
					str += "<table><colgroup><col width='*'><col width='80px'><col width='110px'><col width='110px'><col width='100px'></colgroup><tr><thead><th>프로젝트명</th><th>PM</th><th>시작일</th><th>종료일</th><th>마더업체</th></tr></thead>";
					for (var i in projectListWithOne){
						str += "<tbody><tr><td><a href='/user/projectDetail?prjCode="+projectListWithOne[i].prjCode+"'>"+projectListWithOne[i].prjName+"</a></td>";
						str += "<td>"+projectListWithOne[i].prjPm+"</td>";
						str += "<td>"+projectListWithOne[i].prjStart+"</td>";
						str += "<td>"+projectListWithOne[i].prjEnd+"</td>";
						str += "<td>"+projectListWithOne[i].prjMothercompany+"</td></tr></tbody>";
					}
					str += "</table>";
				}else{
					str += "<p>현재 완료된 프로젝트가 없습니다.</p>";
				}
				$("#projectListByMemIdWithOne table").remove();
				$("#projectListByMemIdWithOne p").remove();
				$("#projectListByMemIdWithOne").append(str);
			}
		});
		
		modal.style.display = "block";
		
	});
	
});
</script>
<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */                          
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.title{margin-bottom:15px;}
.title p{font-weight:600;}
</style>
<script>
$(function(){
	var tabCheck = document.getElementById("tabCheck").value;
 	switch(tabCheck){
 	case "임원진": document.getElementById("executive").className="on";
 	break;
 	case "지원부": document.getElementById("surpport").className="on";
 	break;
 	case "영업부": document.getElementById("sales").className="on";
	break;
 	case "개발부": document.getElementById("dev").className="on";
 	break;
 	}
});
</script>
</head>
<body>

<div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="fragments/headerAdmin :: headerFragmentAdmin"></div>
<div sec:authorize="hasAnyRole('ROLE_USER','ROLE_PL','ROLE_PM')" th:replace="fragments/header :: headerFragment"></div>

<!-- //무조건 section 안에서 내용 작성 -->
<div layout:fragment="content" class="section">
<div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="fragments/asideAdmin :: asideFragmentAdminOrganizationChart"></div>
<div sec:authorize="hasAnyRole('ROLE_USER','ROLE_PL','ROLE_PM')" th:replace="fragments/aside :: asideFragment"></div>
<div class="section_inner">
	<h2 sec:authorize="hasRole('ROLE_ADMIN')">조직도 (관리자)</h2>
	<h2 sec:authorize="hasAnyRole('ROLE_USER','ROLE_PL','ROLE_PM')">조직도</h2>
	<div class="article">
		<div class="tab2">
			<input type="hidden" id="tabCheck" th:value="${deptName}">
			<ul>
				<li id="executive"><a th:href="@{/user/selectOrganizationChartList?deptName=임원진}">임원진</a></li>
				<li id="surpport"><a th:href="@{/user/selectOrganizationChartList?deptName=지원부}">지원부</a></li>
				<li id="sales"><a th:href="@{/user/selectOrganizationChartList?deptName=영업부}">영업부</a></li>
				<li id="dev"><a th:href="@{/user/selectOrganizationChartList?deptName=개발부}">개발부</a></li>
			</ul>
		</div>
		<div class="title">
			<p th:text="${deptName}"></p>
		</div>
		<div class="table_wrap list mb20">
			<table>
				<colgroup>
					<col width="50px">
					<col width="80px">
					<col width="80px">
					<col width="50px">
					<col width="50px">
				</colgroup>
				<thead>
					<tr>
						<th>이름</th>
						<th>전화번호</th>
						<th>내선번호</th>
						<th>부서명</th>
						<th>직책</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${header.memName}" class="showProjectByMember"></td>
						<input type="hidden" th:value="${header.memId}">
						<td th:text="${header.memTel}"></td>
						<td th:text="${header.memOfficeTel}"></td>
						<td th:text="${header.department.deptName}"></td>
						<td th:text="${header.ranks.ranks}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<th:block th:each="repetition:${repetitions}">
			<div class="title">
				<p th:text="${deptName}+'&nbsp'+${repetition.team.teamName}"></p>
			</div>
			<div class="table_wrap list mb20">
				<table>
					<colgroup>
						<col width="50px">
						<col width="80px">
						<col width="80px">
						<col width="50px">
						<col width="50px">
					</colgroup>
					<thead>
						<tr>
							<th>이름</th>
							<th>전화번호</th>
							<th>내선번호</th>
							<th>부서명</th>
							<th>직책</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${repetition.leader.memName}" class="showProjectByMember"></td>
							<input type="hidden" th:value="${repetition.leader.memId}">
							<td th:text="${repetition.leader.memTel}"></td>
							<td th:text="${repetition.leader.memOfficeTel}"></td>
							<td th:text="${repetition.leader.department.deptName}+'&nbsp'+${repetition.leader.team.teamName}"></td>
							<td th:text="${repetition.leader.ranks.ranks}"></td>
						</tr>
						<tr th:each="teamMember:${repetition.teamMemberList}">
							<td th:text="${teamMember.memName}" class="showProjectByMember"></td>
							<input type="hidden" th:value="${teamMember.memId}">
							<td th:text="${teamMember.memTel}"></td>
							<td th:text="${teamMember.memOfficeTel}"></td>
							<td th:text="${teamMember.department.deptName}+'&nbsp'+${teamMember.team.teamName}"></td>
							<td th:text="${teamMember.ranks.ranks}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</th:block>
		
		<div id="myModal" class="modal">
			<div class="modal-content">
				<span class="close">&times;</span>
				<p>진행중인 프로젝트</p>
				<div class="article"  style="overflow-y: scroll; height: 250px">
					<div class="table_wrap list">
						<div id="projectListByMemIdWithZero"></div>
					</div>
				</div>
				<br>
				<p>완료된 프로젝트</p>
				<div class="article" style="overflow-y: scroll; height: 250px">
					<div class="table_wrap list">
						<div id="projectListByMemIdWithOne"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- //section_inner end -->
</div><!-- //section end -->
</body>
</html>