<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
						

<mapper namespace="com.bitgroupware.project.persistence.ProjectDao">
	<insert id="insertProjectWbsList" parameterType="com.bitgroupware.project.beans.ProjectWbsDto">
		INSERT INTO PROJECT_WBS
			(PRJ_CODE, PRJ_WORK_NAME, PRJ_GROUP, PRJ_STEP, PRJ_DEPTH, PRJ_PLAN_START, 
			 PRJ_PLAN_END, PRJ_WORK_COMPLETION, PRJ_TOTAL_DAYS 
			 <if test="prjRealStart != null and prjRealStart != '' ">, PRJ_REAL_START</if>
			 <if test="prjRealEnd != null and prjRealEnd != '' ">, PRJ_REAL_END</if>
			 <if test="prjManager != null and prjManager != '' ">, PRJ_MANAGER</if>
			 <if test="prjOutput != null and prjOutput != '' ">, PRJ_OUTPUT</if>
			 )VALUES(
			 #{prjCode}, #{prjWorkName}, #{prjGroup}, #{prjStep}, #{prjDepth}, #{prjPlanStart},
			 #{prjPlanEnd}, #{prjWorkCompletion}, #{prjTotalDays} 
			 <if test="prjRealStart != null and prjRealStart != '' ">, #{prjRealStart}</if>
			 <if test="prjRealEnd != null and prjRealEnd != '' ">, #{prjRealEnd}</if>
			 <if test="prjManager != null and prjManager != '' ">, #{prjManager}</if>
			 <if test="prjOutput != null and prjOutput != '' ">, #{prjOutput}</if>
			 )
	</insert>
</mapper>

